

html, body {
    color: #000000;
    font-family: 'Shojumaru', serif;
    font-weight: normal;
/*
    background-image: url("/img/yinyang.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #3f0000;*/
    text-align: center;
    display: block;
}

.title {
    font-family: 'Shojumaru', serif;
    font-size: 4em;
    color: #000000;
    background-image: url("/img/yinyang.png");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: 260px 260px;
    background-color: #ffffff;
    padding: .7em;
}

.subtitle {
    font-size: 1em;
    color: #000000;
}


.display {
  font-size: 3em;
  color: #ffffff;
  background-color: #000000;
  padding-left: 7em;
  padding-right: 7em;
}

.content {
    font-family: 'Shojumaru', serif;
    font-size: 2.2em;
    vertical-align: middle;
    text-shadow: 4px 4px 4px #aaa;
    padding-top: .6em;
    padding-bottom: .6em;
    padding-left: 7em;
    padding-right: 7em;

}

select, input {
  font-family: 'Shojumaru', serif;
  font-size: .9em;
  padding: .1em;
  text-align: center;
}

input[type='radio'] { transform: scale(2.2); }

.links > a {
    color: #636b6f;
    padding: 1em;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.footer {
  font-size: 1em;
  bottom: 0%;
  width: 100%;
  position: fixed;
}



.m-t-xl {
    margin-top: 2em;
}

.m-t-lg {
    margin-top: 1em;
}

.m-t-md {
    margin-top: .5em;
}

.m-b-xl {
    margin-bottom: 2em;
}

.m-b-md {
    margin-bottom: .5em;
}

.m-b-sm {
    margin-bottom: .1em;
}
